<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd" >
<div th:fragment="nav">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">xhr的社区</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">xhr的社区</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <form class="navbar-form navbar-left" action="/search" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索话题" id="search" name="search" >
                </div>
                <button type="submit" class="btn btn-default">提交</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" th:if="${session.user!=null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}"> <span class="caret"></span></a>
                    <a href="/profile/replies">通知<span class="badge"  th:text="${session.notificationCount}">42</span></a>
                    <ul class="dropdown-menu" >

                        <li><a href="/profile/questions">我的发布</a></li>
                        <li><a href="/profile/replies">个人资料</a></li>
                        <li><a href="/loggout">注销</a></li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </li>
                <li th:if="${session.user !=null}"><a href="/publish" >发布</a></li>
                <li th:if="${session.user == null}"><a href="https://github.com/login/oauth/authorize?client_id=39cce7d9a15359c7f78a&redirect_url=http://localhost:8100/callback&scope=user&state=1">登录</a></li>

            </ul>
        </div>
    </div>
</nav>
</div>
    <hr>
